<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <form action="." method="post">
        {% csrf_token %}
        <p>
             <label for="{{form.nome.id_for_label}}">
            {{form.nome.label}}
            </label>
            {{ form.nome.errors }}
            {{ form.nome }}
        </p>
        <p>
             <label for="{{form.email.id_for_label}}">
            {{form.email.label}}
            </label>
            {{ form.email.errors }}
            {{ form.email }}
        </p>
        <input type="submit"/>
    </form>

</body>
</html>